 .header{
   background: linear-gradient(white, lightsteelblue);
   width: 100%;
   display:flex;
   border-bottom: 3px solid steelblue;
height: 150px;
 }

 body{
   width: 1200px;
   margin:40px auto;
   border: 3px steelblue;
   font-family: Calibri;
   line-height: 18px;


 }
 .col2 h3{
   color:darkred;
   text-decoration: underline;

 }
 .col1,.col3 h2{
   color:darkred;
 }

.layout{
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  justify-content: space-between;
  gap: 30px;
  }


 ul{
   color:dodgerblue;
   text-decoration: underline;

 }

 .footer{
   text-align: center;
   padding: 20px;
   color: white;
   background-color:steelblue;
 }
h1{font-size: 48px;
  color: cornflowerblue;

}
