.header{
  background: linear-gradient(white, lightsteelblue);
  width: 100%;
  display:flex;
  border-bottom: 3px solid steelblue;
  height: 150px;
}

body{
  width: 900px;
  margin: auto;
  border: 5px steelblue;
  font-family: Calibri;
  line-height: 18px;

}
.col1{
  width:210px;
  float:left;
  margin-right: 30px;

}
.col1 h2{
  color:darkred;

}
.layout{
  grid-template-columns: 1fr 1fr;
  display:flex;
}
.col2{

}
h3{
  color:darkred;
  text-decoration: underline;

}

ul{
  color:dodgerblue;
  text-decoration: underline;

}

.footer{
  text-align: center;
  padding: 20px;
  color: white;
  background-color:steelblue;
}
h1{font-size: 48px;
  color: cornflowerblue;

}
